body {
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #34495e;
    width:100%;
    height:auto;
}

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:100);

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    color : #898782;
}

a,
a:hover,
a:active,
a:focus {
    color: #34495e;
}

@media(min-width:768px) {
    body {
        background: #4C1E30;
    }
}